<!DOCTYPE html>
<html>
  <head id="head">
	<title>Paradox Chess</title>  
	<meta name="keywords" content="chess, 4d chess, 3d chess, online chess, xyz chess,multidimentional chess, free 4d chess, online 4d chess">
	<meta name="description" content="Paradox Chess - experimental online game based on chess, in multidimensional space on dynamic engine.">
<meta charset="UTF-8">
<meta name="author" content="ParadoxChess@gmail.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta property="og:url"           content="https://paradoxchess.herokuapp.com" />
<meta property="og:type"          content="paradoxchess.com" />
<meta property="og:title"         content="Paradox Chess" />
<meta property="og:description"   content="Paradox Chess -  experimental online game based on chess, in multidimensional space on dynamic engine." />
<meta property="og:image"         content="/images/logo.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/images/fav/apple-icon-57x57.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/css/game.css">
<script type="importmap">
  {
      "imports": {
          "three": "/three/build/three.module.js",
          "OrbitControls": "/three/examples/jsm/controls/OrbitControls.js",
          "GLTFLoader": "/three/examples/jsm/loaders/GLTFLoader.js",
          "FontLoader":"/three/examples/jsm/loaders/FontLoader.js"          
      }
  }
</script>
<script src="/react/umd/react.development.js" type="module"></script>
<script src="/react-dom/umd/react-dom.development.js" type="module"></script>
<script src="/scripts/libs/colorpicker/jscolor.js"></script>
<script src="/scripts/pages/game/page.js" type="module"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module">
  const PORT='<%= PORT %>';  
  import {Start,GAME} from "/scripts/pages/game/page.js";
  Start(GAME);
</script>
  </head>
  <body id="body">
  <div id="main"></div>
  </body>
</html>